.root {
    height: 8%;
    width: 60%;
    position: fixed; /* Position fixed to maintain the navigation bar on the top of teh screen as the user moves about that page */
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.linkContainer {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.linkContainer:hover {
    cursor: pointer;
    border-right: 3px solid #fbf37c;
}

.linkText {
    text-decoration: none;
    padding-right: 30px;
}

.linkText:hover {
    color: #fbf37c;
    cursor: pointer;
}

.white {
    color: #ffffff;
}

.whiteBar {
    border-right: 3px solid #ffffff;
}

.yellow {
    color: #fbf37c;
}

.yellowBar {
    border-right: 3px solid #fbf37c;
}